In [1]:
from path import Path
import os
import pandas as pd
import zipfile

In [27]:
# helper function to unzip
def unzip_file(fpath):
    fzip = os.listdir(fpath)[0]
    with zipfile.ZipFile(f'{fpath}/{fzip}', "r") as zip_ref:
        zip_ref.extractall(fpath)
        
    os.remove(f'{fpath}/{fzip}')

In [2]:
# download root
root = Path('./data')

In [6]:
# making sub directories
os.mkdir(root/'lending_club')
os.mkdir(root/'mushroom')
os.mkdir(root/'telco')
os.mkdir(root/'ibm_attrition')
os.mkdir(root/'wine_quality')
os.mkdir(root/'pulsar')
os.mkdir(root/'kepler')
os.mkdir(root/'eeg')
os.mkdir(root/'mobile_pricce')
os.mkdir(root/'clinvar')
os.mkdir(root/'lol')
os.mkdir(root/'kepler_exoplanet')

In [3]:
# grabbing sub directories
sd_lending = (root/'lending_club')
sd_mushroom = (root/'mushroom')
sd_telco = (root/'telco')
sd_ibm = (root/'ibm_attrition')
sd_wine = (root/'wine_quality')
sd_pulsar = (root/'pulsar')
sd_kepler = (root/'kepler')
sd_eeg = (root/'eeg')
sd_mobile = (root/'mobile_pricce') # typo
sd_clinvar = (root/'clinvar')
sd_lol = (root/'lol')
sd_exoplanet = (root/'kepler_exoplanet')

## Mushroom Dataset

In [9]:
# mushroom data
!kaggle datasets download -d uciml/mushroom-classification -p {sd_mushroom}

Downloading mushroom-classification.zip to ./data\mushroom

  0%|          | 0.00/34.2k [00:00<?, ?B/s]
100%|##########| 34.2k/34.2k [00:00<00:00, 35.2MB/s]

In [10]:
# checking file structure
os.listdir(sd_mushroom)

['mushroom-classification.zip']

In [11]:
# unzipping our mushroom file
with zipfile.ZipFile(f'{sd_mushroom}/mushroom-classification.zip',"r") as zip_ref:
    zip_ref.extractall(sd_mushroom)

In [12]:
os.listdir(sd_mushroom)

['mushroom-classification.zip', 'mushrooms.csv']

In [13]:
# let's remove our zipped file \
os.remove(f'{sd_mushroom}/mushroom-classification.zip')

In [14]:
# checking head of the file
pd.read_csv(sd_mushroom/'mushrooms.csv').head()

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,w,w,p,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g

## Lending Club data

In [ ]:
# downloaded the file manually due to file size
# unzipping has been done through the terminal

In [4]:
os.listdir(sd_lending)

['loan.csv']

In [8]:
# checking head of our data
pd.read_csv(sd_lending/'loan.csv', low_memory=False).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Columns: 145 entries, id to settlement_term
dtypes: float64(105), int64(4), object(36)
memory usage: 2.4+ GB

In [ ]:
# experimenting with this dataset will require using dask or even rapids.

## Telco Customer Churn

In [9]:
!kaggle datasets download -d blastchar/telco-customer-churn -p {sd_telco}

Downloading telco-customer-churn.zip to ./data\telco

  0%|          | 0.00/172k [00:00<?, ?B/s]
100%|##########| 172k/172k [00:00<00:00, 4.41MB/s]

In [10]:
os.listdir(sd_telco)

['telco-customer-churn.zip']

In [12]:
# unzipping file
with zipfile.ZipFile(f'{sd_telco}/telco-customer-churn.zip',"r") as zip_ref:
    zip_ref.extractall(sd_telco)

In [13]:
os.listdir(sd_telco)

['telco-customer-churn.zip', 'WA_Fn-UseC_-Telco-Customer-Churn.csv']

In [15]:
os.remove(sd_telco/'telco-customer-churn.zip')

In [16]:
# checking head
pd.read_csv(sd_telco/'WA_Fn-UseC_-Telco-Customer-Churn.csv').head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

## IBM Attrition

In [17]:
!kaggle datasets download -d pavansubhasht/ibm-hr-analytics-attrition-dataset -p {sd_ibm}

Downloading ibm-hr-analytics-attrition-dataset.zip to ./data\ibm_attrition

  0%|          | 0.00/50.1k [00:00<?, ?B/s]
100%|##########| 50.1k/50.1k [00:00<00:00, 2.79MB/s]

In [18]:
os.listdir(sd_ibm)

['ibm-hr-analytics-attrition-dataset.zip']

In [28]:
# unzipping file
unzip_file(sd_ibm)

In [30]:
f = os.listdir(sd_ibm)[0]
f

'WA_Fn-UseC_-HR-Employee-Attrition.csv'

In [31]:
# checking head
pd.read_csv(f'{sd_ibm}/{f}').head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

## Red Wine Quality

In [32]:
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009 -p {sd_wine}

Downloading red-wine-quality-cortez-et-al-2009.zip to ./data\wine_quality

  0%|          | 0.00/25.6k [00:00<?, ?B/s]
100%|##########| 25.6k/25.6k [00:00<00:00, 12.9MB/s]

In [33]:
os.listdir(sd_wine)

['red-wine-quality-cortez-et-al-2009.zip']

In [34]:
# unzipping file
unzip_file(sd_wine)
os.listdir(sd_wine)

['winequality-red.csv']

In [35]:
# reading file
f = os.listdir(sd_wine)[0]
pd.read_csv(f'{sd_wine}/{f}').head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

## Predicting a Pulsar

In [36]:
!kaggle datasets download -d pavanraj159/predicting-a-pulsar-star -p {sd_pulsar}

Downloading predicting-a-pulsar-star.zip to ./data\pulsar

  0%|          | 0.00/771k [00:00<?, ?B/s]
100%|##########| 771k/771k [00:00<00:00, 6.60MB/s]

In [37]:
os.listdir(sd_pulsar)

['predicting-a-pulsar-star.zip']

In [38]:
# unzipping file
unzip_file(sd_pulsar)
os.listdir(sd_pulsar)

['pulsar_stars.csv']

In [39]:
# checking head
f = os.listdir(sd_pulsar)[0]
pd.read_csv(f'{sd_pulsar}/{f}').head()

,Mean of the integrated profile,Standard deviation of the integrated profile,Excess kurtosis of the integrated profile,Skewness of the integrated profile,Mean of the DM-SNR curve,Standard deviation of the DM-SNR curve,Excess kurtosis of the DM-SNR curve,Skewness of the DM-SNR curve,target_class
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0

## Exoplanet Hunting

In [40]:
!kaggle datasets download -d keplersmachines/kepler-labelled-time-series-data -p {sd_kepler}

Downloading kepler-labelled-time-series-data.zip to ./data\kepler

  0%|          | 0.00/55.9M [00:00<?, ?B/s]
  2%|1         | 1.00M/55.9M [00:00<00:06, 9.56MB/s]
  5%|5         | 3.00M/55.9M [00:00<00:05, 10.3MB/s]
  9%|8         | 5.00M/55.9M [00:00<00:04, 11.4MB/s]
 13%|#2        | 7.00M/55.9M [00:00<00:04, 12.0MB/s]
 16%|#6        | 9.00M/55.9M [00:00<00:03, 12.7MB/s]
 20%|#9        | 11.0M/55.9M [00:00<00:03, 13.1MB/s]
 23%|##3       | 13.0M/55.9M [00:01<00:03, 13.5MB/s]
 27%|##6       | 15.0M/55.9M [00:01<00:03, 13.7MB/s]
 30%|###       | 17.0M/55.9M [00:01<00:02, 14.0MB/s]
 34%|###3      | 19.0M/55.9M [00:01<00:02, 14.1MB/s]
 38%|###7      | 21.0M/55.9M [00:01<00:02, 14.1MB/s]
 41%|####1     | 23.0M/55.9M [00:01<00:02, 14.3MB/s]
 45%|####4     | 25.0M/55.9M [00:01<00:02, 14.3MB/s]
 48%|####8     | 27.0M/55.9M [00:02<00:02, 14.7MB/s]
 52%|#####1    | 29.0M/55.9M [00:02<00:01, 14.7MB/s]
 55%|#####5    | 31.0M/55.9M [00:02<00:01, 14.6MB/s]
 59%|#####9    | 33.0M/55.9M [00:02<00:01, 14.6MB/s]
 63%|######2   | 35.0M/55.9M [00:02<00:01, 14.7MB/s]
 66%|######6   | 37.0M/55.9M [00:02<00:01, 14.9MB/s]
 70%|######9   | 39.0M/55.9M [00:02<00:01, 14.5MB/s]
 73%|#######3  | 41.0M/55.9M [00:03<00:01, 14.6MB/s]
 77%|#######6  | 43.0M/55.9M [00:03<00:00, 15.1MB/s]
 80%|########  | 45.0M/55.9M [00:03<00:00, 14.3MB/s]
 84%|########4 | 47.0M/55.9M [00:03<00:00, 14.0MB/s]
 88%|########7 | 49.0M/55.9M [00:03<00:00, 14.8MB/s]
 91%|#########1| 51.0M/55.9M [00:03<00:00, 13.9MB/s]
 95%|#########4| 53.0M/55.9M [00:03<00:00, 15.0MB/s]
 98%|#########8| 55.0M/55.9M [00:04<00:00, 14.7MB/s]
100%|##########| 55.9M/55.9M [00:04<00:00, 14.3MB/s]

In [41]:
os.listdir(sd_kepler)

['kepler-labelled-time-series-data.zip']

In [42]:
# unzipping file
unzip_file(sd_kepler)
os.listdir(sd_kepler)

['exoTest.csv', 'exoTrain.csv']

In [43]:
# Reading our trail file
f = os.listdir(sd_kepler)[1]
pd.read_csv(f'{sd_kepler}/{f}').head()

,LABEL,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,...,FLUX.3188,FLUX.3189,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197
0,2,93.85,83.81,20.10,-26.98,-39.56,-124.71,-135.18,-96.27,-79.89,...,-78.07,-102.15,-102.15,25.13,48.57,92.54,39.32,61.42,5.08,-39.54
1,2,-38.88,-33.83,-58.54,-40.09,-79.31,-72.81,-86.55,-85.33,-83.97,...,-3.28,-32.21,-32.21,-24.89,-4.86,0.76,-11.70,6.46,16.00,19.93
2,2,532.64,535.92,513.73,496.92,456.45,466.00,464.50,486.39,436.56,...,-71.69,13.31,13.31,-29.89,-20.88,5.06,-11.80,-28.91,-70.02,-96.67
3,2,326.52,347.39,302.35,298.13,317.74,312.70,322.33,311.31,312.42,...,5.71,-3.73,-3.73,30.05,20.03,-12.67,-8.77,-17.31,-17.35,13.98
4,2,-1107.21,-1112.59,-1118.95,-1095.10,-1057.55,-1034.48,-998.34,-1022.71,-989.57,...,-594.37,-401.66,-401.66,-357.24,-443.76,-438.54,-399.71,-384.65,-411.79,-510.54

## EEG

In [44]:
!kaggle datasets download -d wanghaohan/confused-eeg -p {sd_eeg}

Downloading confused-eeg.zip to ./data\eeg

  0%|          | 0.00/109M [00:00<?, ?B/s]
  1%|          | 1.00M/109M [00:00<00:26, 4.19MB/s]
  3%|2         | 3.00M/109M [00:00<00:21, 5.25MB/s]
  5%|4         | 5.00M/109M [00:00<00:16, 6.42MB/s]
  6%|6         | 7.00M/109M [00:00<00:13, 7.63MB/s]
  8%|8         | 9.00M/109M [00:00<00:11, 8.96MB/s]
 10%|#         | 11.0M/109M [00:01<00:10, 10.1MB/s]
 12%|#1        | 13.0M/109M [00:01<00:09, 11.1MB/s]
 14%|#3        | 15.0M/109M [00:01<00:08, 12.0MB/s]
 16%|#5        | 17.0M/109M [00:01<00:07, 12.5MB/s]
 17%|#7        | 19.0M/109M [00:01<00:07, 13.1MB/s]
 19%|#9        | 21.0M/109M [00:01<00:06, 13.6MB/s]
 21%|##1       | 23.0M/109M [00:01<00:06, 13.7MB/s]
 23%|##2       | 25.0M/109M [00:02<00:06, 14.0MB/s]
 25%|##4       | 27.0M/109M [00:02<00:06, 14.0MB/s]
 27%|##6       | 29.0M/109M [00:02<00:05, 14.2MB/s]
 28%|##8       | 31.0M/109M [00:02<00:05, 14.0MB/s]
 30%|###       | 33.0M/109M [00:02<00:05, 13.9MB/s]
 32%|###2      | 35.0M/109M [00:02<00:05, 14.2MB/s]
 34%|###3      | 37.0M/109M [00:02<00:05, 14.9MB/s]
 36%|###5      | 39.0M/109M [00:03<00:04, 15.3MB/s]
 38%|###7      | 41.0M/109M [00:03<00:04, 14.9MB/s]
 40%|###9      | 43.0M/109M [00:03<00:04, 14.8MB/s]
 41%|####1     | 45.0M/109M [00:03<00:04, 14.8MB/s]
 43%|####3     | 47.0M/109M [00:03<00:04, 14.6MB/s]
 45%|####5     | 49.0M/109M [00:03<00:04, 14.6MB/s]
 47%|####6     | 51.0M/109M [00:03<00:04, 13.5MB/s]
 49%|####8     | 53.0M/109M [00:04<00:04, 14.3MB/s]
 51%|#####     | 55.0M/109M [00:04<00:03, 14.6MB/s]
 52%|#####2    | 57.0M/109M [00:04<00:03, 14.8MB/s]
 54%|#####4    | 59.0M/109M [00:04<00:03, 14.7MB/s]
 56%|#####6    | 61.0M/109M [00:04<00:03, 14.5MB/s]
 58%|#####7    | 63.0M/109M [00:04<00:03, 14.6MB/s]
 60%|#####9    | 65.0M/109M [00:04<00:03, 14.4MB/s]
 62%|######1   | 67.0M/109M [00:05<00:03, 14.5MB/s]
 63%|######3   | 69.0M/109M [00:05<00:02, 14.4MB/s]
 65%|######5   | 71.0M/109M [00:05<00:02, 14.4MB/s]
 67%|######7   | 73.0M/109M [00:05<00:02, 14.5MB/s]
 69%|######8   | 75.0M/109M [00:05<00:02, 14.4MB/s]
 71%|#######   | 77.0M/109M [00:05<00:02, 14.5MB/s]
 73%|#######2  | 79.0M/109M [00:05<00:02, 14.3MB/s]
 74%|#######4  | 81.0M/109M [00:06<00:02, 14.0MB/s]
 76%|#######6  | 83.0M/109M [00:06<00:01, 13.7MB/s]
 78%|#######8  | 85.0M/109M [00:06<00:01, 13.8MB/s]
 80%|#######9  | 87.0M/109M [00:06<00:01, 14.1MB/s]
 82%|########1 | 89.0M/109M [00:06<00:01, 14.1MB/s]
 84%|########3 | 91.0M/109M [00:06<00:01, 14.3MB/s]
 85%|########5 | 93.0M/109M [00:06<00:01, 14.2MB/s]
 87%|########7 | 95.0M/109M [00:07<00:01, 14.4MB/s]
 89%|########9 | 97.0M/109M [00:07<00:00, 13.4MB/s]
 91%|######### | 99.0M/109M [00:07<00:00, 14.7MB/s]
 93%|#########2| 101M/109M [00:07<00:00, 14.6MB/s]
 95%|#########4| 103M/109M [00:07<00:00, 13.8MB/s]
 96%|#########6| 105M/109M [00:07<00:00, 14.7MB/s]
 98%|#########8| 107M/109M [00:08<00:00, 14.0MB/s]
100%|##########| 109M/109M [00:08<00:00, 14.9MB/s]

In [45]:
os.listdir(sd_eeg)

['confused-eeg.zip']

In [46]:
# unzipping
unzip_file(sd_eeg)
os.listdir(sd_eeg)

['demographic_info.csv', 'EEG_data.csv', 'videos']

In [49]:
# removing other data
# used bash terminal

In [50]:
os.listdir(sd_eeg)

['EEG_data.csv']

In [51]:
# checking head
f = os.listdir(sd_eeg)[0]
pd.read_csv(f'{sd_eeg}/{f}').head()

,SubjectID,VideoID,Attention,Mediation,Raw,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2,predefinedlabel,user-definedlabeln
0,0.0,0.0,56.0,43.0,278.0,301963.0,90612.0,33735.0,23991.0,27946.0,45097.0,33228.0,8293.0,0.0,0.0
1,0.0,0.0,40.0,35.0,-50.0,73787.0,28083.0,1439.0,2240.0,2746.0,3687.0,5293.0,2740.0,0.0,0.0
2,0.0,0.0,47.0,48.0,101.0,758353.0,383745.0,201999.0,62107.0,36293.0,130536.0,57243.0,25354.0,0.0,0.0
3,0.0,0.0,47.0,57.0,-5.0,2012240.0,129350.0,61236.0,17084.0,11488.0,62462.0,49960.0,33932.0,0.0,0.0
4,0.0,0.0,44.0,53.0,-8.0,1005145.0,354328.0,37102.0,88881.0,45307.0,99603.0,44790.0,29749.0,0.0,0.0

## Mobile Price

In [52]:
!kaggle datasets download -d iabhishekofficial/mobile-price-classification -p {sd_mobile}

Downloading mobile-price-classification.zip to ./data\mobile_pricce

  0%|          | 0.00/70.6k [00:00<?, ?B/s]
100%|##########| 70.6k/70.6k [00:00<00:00, 3.29MB/s]

In [53]:
os.listdir(sd_mobile)

['mobile-price-classification.zip']

In [54]:
# unzipping
unzip_file(sd_mobile)
os.listdir(sd_mobile)

['test.csv', 'train.csv']

In [55]:
# checking header
pd.read_csv(f'{sd_mobile}/train.csv').head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

## Genetic Variation

In [56]:
!kaggle datasets download -d kevinarvai/clinvar-conflicting -p {sd_clinvar}

Downloading clinvar-conflicting.zip to ./data\clinvar

  0%|          | 0.00/3.43M [00:00<?, ?B/s]
 29%|##9       | 1.00M/3.43M [00:00<00:00, 8.34MB/s]
100%|##########| 3.43M/3.43M [00:00<00:00, 19.4MB/s]

In [57]:
os.listdir(sd_clinvar)

['clinvar-conflicting.zip']

In [58]:
unzip_file(sd_clinvar)
os.listdir(sd_clinvar)

['clinvar_conflicting.csv']

In [60]:
pd.read_csv(f'{sd_clinvar}/clinvar_conflicting.csv', low_memory=False).head()

,CHROM,POS,REF,ALT,AF_ESP,AF_EXAC,AF_TGP,CLNDISDB,CLNDISDBINCL,CLNDN,...,SIFT,PolyPhen,MOTIF_NAME,MOTIF_POS,HIGH_INF_POS,MOTIF_SCORE_CHANGE,LoFtool,CADD_PHRED,CADD_RAW,BLOSUM62
0,1,955563,G,C,0.0000,0.00000,0.0000,"MedGen:C3808739,OMIM:615120|MedGen:CN169374",NaN,"Myasthenic_syndrome,_congenital,_8|not_specified",...,NaN,NaN,NaN,NaN,NaN,NaN,0.421,11.390,1.133255,-2.0
1,1,955597,G,T,0.0000,0.42418,0.2826,MedGen:CN169374,NaN,not_specified,...,NaN,NaN,NaN,NaN,NaN,NaN,0.421,8.150,0.599088,NaN
2,1,955619,G,C,0.0000,0.03475,0.0088,"MedGen:C3808739,OMIM:615120|MedGen:CN169374",NaN,"Myasthenic_syndrome,_congenital,_8|not_specified",...,NaN,NaN,NaN,NaN,NaN,NaN,0.421,3.288,0.069819,1.0
3,1,957640,C,T,0.0318,0.02016,0.0328,"MedGen:C3808739,OMIM:615120|MedGen:CN169374",NaN,"Myasthenic_syndrome,_congenital,_8|not_specified",...,NaN,NaN,NaN,NaN,NaN,NaN,0.421,12.560,1.356499,NaN
4,1,976059,C,T,0.0000,0.00022,0.0010,MedGen:CN169374,NaN,not_specified,...,NaN,NaN,NaN,NaN,NaN,NaN,0.421,17.740,2.234711,NaN

## League of Legends

In [61]:
!kaggle datasets download -d datasnaek/league-of-legends -p {sd_lol}

Downloading league-of-legends.zip to ./data\lol

  0%|          | 0.00/2.99M [00:00<?, ?B/s]
 33%|###3      | 1.00M/2.99M [00:00<00:00, 8.03MB/s]
100%|##########| 2.99M/2.99M [00:00<00:00, 15.5MB/s]

In [62]:
os.listdir(sd_lol)

['league-of-legends.zip']

In [63]:
unzip_file(sd_lol)
os.listdir(sd_lol)

['champion_info.json',
 'champion_info_2.json',
 'games.csv',
 'summoner_spell_info.json']

In [65]:
os.remove(f'{sd_lol}/champion_info.json')
os.remove(f'{sd_lol}/champion_info_2.json')
os.remove(f'{sd_lol}/summoner_spell_info.json')
os.listdir(sd_lol)

['games.csv']

In [67]:
pd.read_csv(f'{sd_lol}/games.csv').head()

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

## Exo Planet

In [68]:
!kaggle datasets download -d nasa/kepler-exoplanet-search-results -p {sd_exoplanet}

Downloading kepler-exoplanet-search-results.zip to ./data\kepler_exoplanet

  0%|          | 0.00/1.16M [00:00<?, ?B/s]
 86%|########6 | 1.00M/1.16M [00:00<00:00, 8.76MB/s]
100%|##########| 1.16M/1.16M [00:00<00:00, 9.91MB/s]

In [69]:
os.listdir(sd_exoplanet)

['kepler-exoplanet-search-results.zip']